<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<table class ="table table-striped"> 
	<tr>
		<th>year/month</th>
		<th>category</th>
		<th>subject</th>
		<th>amount</th>
		<th>detail</th>
	</tr>
	<% @books.each do |book| %>
	<tr>
		<td><%= book.year%>/<%= book.month%> </td>
		<td><%= book.inout %> </td>
		<td><%= book.category %> </td>
		<td><%= book.amount %> </td>
		<td><%= link_to "detail", book_path(book), class: "btn btn-info" %></td>
	</tr>
	<%end%>
</table>
</body>
</html>